* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0 auto;
}

header,
footer {
  display: flex;
  position: relative;
  padding: 0 10px;

  color: white;
  background-color: #88acb7;
}

h1 {
  font-size: 2.3em;
  margin-top: 15px;
  margin-bottom: 8px;
}

p {
  margin: 10px;
}

img {
  margin-top: 10px;
  height: 50px;
}

main {
  margin: 20px;
  min-height: fit-content;
}

table {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  font-size: 1.2em;
  color: #4e656a;
  border-collapse: collapse;
}

td {
  border: 1px #7a898d solid;
  height: 55px;
}

.table-titles {
  margin: 10px;
  font-weight: bold;
  color: white;
  background-color: #7ea0aa;
}

.price,
.actions {
  padding: 0 15px;
  text-align: center;
}

.title {
  padding: 0 15px;
}

.book-price,
.book-actions {
  text-align: center;
}

.book-title {
  padding: 0 10px;
}

button {
  margin: 5px 20px;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9em;
}

.read {
  background-color: #4ec1e3;
}

.update {
  background-color: #e9c638;
}

.delete {
  background-color: #e29248;
}
